.container {
  display: flex;
  background-color: #30a7d7;
  padding: 0.6rem;
  border-radius: 10px;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1.25rem;
  .name {
    color: #fff;
    margin: 3px;
  }
  .value {
    margin: 3px;
    font-weight: 470;
  }
  svg {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
  }
}

.ability_box {
  display: flex;
}

.info_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.ability_desc {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 0.5rem 1.5rem;
  opacity: 0;
  transition-duration: 0.5s;
  z-index: -1;
  h5 {
    margin: 0.5rem 0;
    color: #999;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 450;
  }
  p {
    margin-top: 0;
  }
}

.active {
  opacity: 1;
  z-index: 2;
}

.close {
  position: absolute;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 40px;
  width: 30%;
  background-color: #000;
  font-weight: 500;
  cursor: pointer;
}

.close::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: -15px;
  min-width: 30px;
  min-height: 20px;
  background-color: #333;
  transform: rotateZ(45deg);
  z-index: 10;
}
