.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 3rem;
  position: relative;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
  opacity: 1;
  span {
    color: #757575;
    font-family: "Roboto", sans-serif;
    padding: 2px 0.75rem 1rem;
  }
  p {
    font-weight: 545;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding: 2px 0.75rem;
  }
}

.container.enterRight {
  animation-name: enterRight;
}
.container.enterLeft {
  animation-name: enterLeft;
}
.container.enterTop {
  animation-name: enterTop;
}
.container.enterBottom {
  animation-name: enterBottom;
}

.container:hover {
  animation-name: bounce;
  animation-duration: 500ms;
}

@keyframes enterLeft {
  0% {
    left: -1rem;
    opacity: 0.75;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes enterRight {
  0% {
    right: -1rem;
    opacity: 0.75;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes enterTop {
  0% {
    top: -1rem;
    opacity: 0.75;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes enterBottom {
  0% {
    bottom: -1rem;
    opacity: 0.75;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes bounce {
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

.img {
  background-color: #dfdfdf77;
  border-radius: 5px;
  cursor: pointer;
}

.type_container {
  display: flex;
  margin-left: 0.75rem;
}

.type {
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  width: 30%;
  margin-right: 0.5rem;
}

@media screen and (min-width: 511px) {
  .container {
    width: 45%;
    margin-bottom: 2.5rem;
  }
  .type {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 30%;
  }
}

@media screen and (min-width: 1023px) {
  .container {
    width: 23%;
  }
}
